body {
    margin:0px;
    padding:0px;
    background-color:rgb(192, 0, 0);

}

.eureka h1 {
    text-align: center;
    font-family: Monserrat;
    font-weight: 300;
    font-size:3.4rem;
    margin: 20px;
}

.event img {
    border-radius: 8px;

}

.slides {

    width: 900px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.swipes {

    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 380px';
}

.swipes input {
    display:none;

}

.swipes > img:first-of-type {
    position: relative;
    display:flex;
    top:0;
    left:0;
    z-index:10;
}

 
